option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node dist/main.js"
    NodeVersion: 18.x
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /logs: logs

